// === FONTS === //

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat+Alternates:ital,wght@1,500&family=Montserrat:ital,wght@0,400;1,800&family=Open+Sans&display=swap'); // O mais perto de GOTHAM da Netflix

// === COLOURS === //

$main: #32a86d; 
$preto: #141414;
$font: #fff;
$items: rgb(170, 170, 170, .3);







